<a class="menu-toggle rounded" href="{{ site.url }}">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="/">Home</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="/#values">Values</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="/startups">Startups</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="/music">Music</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="/photography">Photography</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="/dev">Software Development</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="/sports">Sports</a>
        </li>
    </ul>
</nav>
